@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import "parent.css";

#blogPost {
    margin-left: 10vw;
    margin-right: 10vw;
}

.blogImage {
    max-width: 100%;
    height: auto;
}