@import "parent.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');



#pageGrid {
    display: grid;
    justify-content: center;

}



.gridcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 0px 0px 10px gray;

}


.gridcard>img {

    width: 100%;
    height: 100%;

}

.cardText {
    text-align: center;
}
.cardText>a{
    text-decoration: none;
    color: black;

}
.cardText:hover{
    opacity: 50%;
}

.cardTitle>a{
    text-decoration: none;
  color: black;
}

.cardTitle:hover{
    opacity: 50%;
}


#blogList {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 0.5em;

}
@media(max-width:510px){
    .gridcard{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 290px;
    border: 1px solid gray;
    padding: 3px;
    box-shadow: 0px 0px 10px gray;
    }
}

@media (min-width:1070px) and (max-width:1624px) {
    #blogList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
        row-gap: 0.5em;
    }
}

@media(min-width:1625px) {
    #blogList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
        row-gap: 0.5em;


    }
}