

#pageGrid{
    display: grid;
    justify-content: center;
    /* align-items: center; */
}

#pageGrid > h1{
    text-align: center;
}

#gridContainer {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 100px;
align-items: center;

}

.gridcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    width: 500px;
    height: 500px;
    
}

.gridcard > img{
    
    width: 100%;
    height: 100%;
    
}

.gridcard > p{
    text-align: center;
}



