@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import "parent.css";

* {
    font-family: 'Roboto Slab', serif;
}

#pageGrid {
    display: grid;
    justify-content: center;

}



#blogList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    align-items: center;

}



.navElement {
    margin-right: 1em;

}

.navElement a {
    text-decoration: none;
    color: black;

}

.gridcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    margin-bottom: 1em;
    padding: 10px;
    box-shadow: 0px 0px 10px gray;

}

.gridcard>img {

    width: 100%;
    height: 100%;

}

.gridcard>p {
    text-align: center;
}


  