footer{
    display: flex;
    background-color: rgb(121, 200, 252);
    box-shadow: 0px 0px 10px gray;
    padding: 10px;


  }

  footer span{
    margin-left: auto;

  }

  #pageTitle {
    text-align: center;
    background-color: rgb(121, 200, 252);
    box-shadow: 0px 0px 10px gray;
}

#navFlexContainer {
    display: flex;
    list-style-type: none;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px gray;


}