@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');



* {
  font-family: 'Roboto Slab', serif;
}


footer {
  display: flex;
  background-color: rgb(121, 200, 252);
  box-shadow: 0px 0px 10px gray;
  padding: 10px;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

footer span {
  margin-left: auto;

}

#pageTitle {
  text-align: center;
  background-color: rgb(121, 200, 252);
  box-shadow: 0px 0px 10px gray;
}

#navFlexContainer {
  display: flex;
  list-style-type: none;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px gray;

}


.navElement {
  margin-right: 1em;

}

.navElement a {
  text-decoration: none;
  color: black;

}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}